body
{
	margin					: 0;
	max-width				: 100%;
	font-family				: Helvetica,Verdana,Arial,sans-serif;
}

header
{
	width					: 100%;
	background-color		: 000000;
	position				: fixed;
	z-index					: 15;
  	box-shadow				: 0px 2px 20px;
  	opacity					: 0.6;
  	top						: 0;
  	
}

.menu ul{
	margin					: 0;
	padding					: 0;
	list-style				: none;
	display					: flex;
	justify-content			: center;
	font-variant			: small-caps;
	z-index					: 10;
}

.menu li
{
	text-align				: center;
	flex-grow				: 1;
  	transition-property		: background-color;
  	transition-duration		: 1s;  
}

.menu li:hover
{
	background-color		: ffffff;
}

.menu li a
{
	display					: block;
	padding					: 20px;
	text-decoration			: none;
  	font-size				: 24px;
	color					: ffffff;
  	transition-property		: color;
  	transition-duration		: 1s;
}

.menu li a:hover
{
  	color					: 000000
}

.slide
{
  	width					: 90%;
  	position				: relative;
  	padding					: 0;
  	margin					: 0;
  	text-align				: center;
  	left					: 5%;
  	right					: 5%;
}

.slide-title
{
  	width					: 100%;
  	left					: 0;
  	right					: 0;
}

 
#slide1
{
  	padding					: 150px 0;
  	background-image		: url("../images/sfondo1.jpg");
  	background-color		: ffffff;
  	background-repeat		: no-repeat;
  	text-shadow				: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


.parallax
{
	background-size			: cover;
  	background-attachment	: fixed;
}

.title{
	font-size				: 80px;
	color					: ffffff;
	text-transform			: uppercase;
	font-weight				: 100;
	background-color		: rgba(0,0,0,0.6);
	width					: 70%;
	margin-right			: 15%;
	margin-left				: 15%;
	margin-top				: 10%;
}

.text{
	font-size				: 22px;
	z-index					: 10;
	text-align				: justify;
  	padding					: 30px 0;
  	background-size			: 400% 400%;
  	color					: 000000;
  	background-color		: ffffff;
  	font-family				: Helvetica,Verdana,Arial,sans-serif;	
}

.divCommon
{
	width		: 40%;
	height		: 300px;
	padding-left : 10px;
	padding-top : 10px;

}

.divLeft
{
	margin-left		: 20px;
}

.divRight
{
	float		: right;
	margin-top			: -300px;
	margin-right	: 20px;
}



.sectionTitle{
	text-align				: center;
	font-size				: 50px;
	color					: 000000;
  	margin-top				: 70px
}



.textImage{
	font-size				: 50px;
	color					: ffffff;
	position				: relative;
	padding-top				: 250px;
  	padding-bottom			: 250px;
	margin					: 0 auto;
	font-weight				: 100;
}

.highcharts-color-0 rect {
  fill: #3B805B;
}

.highcharts-color-1 rect {
  fill: #A78ECC;
}


.highcharts-label text {
  color: #333 !important;
  /*fill: #333 !important;*/
  /*stroke: #333;*/
}

.menu_icon {
	display:none;
}

